<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The A-Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>AI for Safe Streets and True Stories.</h1>
            <p>Imagine a world where technology not only protects communities but also upholds the truth. Join us in revolutionizing public safety and news integrity, making a tangible difference every day. Let's build a safer, smarter future together.</p>
            <div class="buttons">
                <a href="/recommender" class="btn get-started">News Recommender</a>
                <a href="/detector" class="btn watch-tutorial">Fake News Detection</a>
            </div>
        </div>
    </div>
</body>
</html>
